@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/react-notifications-component/dist/theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}


.app {
  max-width: 800px;
  margin: 50px auto;
}
